edge_tts==7.0.0
pydub==0.25.1
SpeechRecognition==3.12.0
PyYAML==6.0.2
langchain==0.3.10
langchain_community==0.3.10
langchain_openai==0.2.11
wikipedia==1.4.0
python-dotenv==1.0.1
youtube_transcript_api==0.6.3
google-api-python-client==2.154.0
flask==3.1.0
flask_socketio==5.4.1
sentence_transformers==3.3.1
chromadb==0.5.23
pandas==2.2.3
tiktoken==0.8.0
giskard[llm]==2.16.0